.paginacion {
    padding: $separacion 0 $separacion / 2 0;
    display: flex;
    justify-content: space-between;
    button {
        background-color: $azul;
        padding: 1rem 3rem;
        color: $blanco;
        font-weight: bold;
        border: none;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
        &.ocultar {
            visibility: hidden;
        }
    }
}