.tabs {
    @include grid(3, 2rem);
    button {
        background-color: $blanco;
        padding: 1rem 0;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border: none;
        &.actual {
            background-color: $azul;
            color: &blanco;
        }
        &:hover {
            cursor: pointer;
        }
    }
}